body{
    background-color: rgb(146, 255, 255);
    }
b{
    color:red
}
h1{
    font-family: 'Know Your Product', sans-serif;
                                                  }
h3{
    font-family: 'Komika Text', sans-serif;
    font-family: 'Komika Text Kaps', sans-serif;
    font-family: 'Komika Text Tight', sans-serif;

}
label{
    font-size:40px;
    color:darkblue;
    font-family: 'Birdmathon', sans-serif;
                                                
}
button{
    border-radius:40px ;
    height: 40px; ;
}
#btn1{
    background-color: chartreuse;
color: rgb(19, 0, 128);

}
#btn2{
    background-color: crimson;
    color:rgb(251, 255, 0) ;
}
#camera{
    border:2px dashed red;
    width:350px;
    height:300px;
}   